.navl{
	background-color: brown;
	margin: 0px;
	padding: 10px;
	display: flex;
	justify-items: space-between;
	justify-content: center;
}
.hom a {
	color: white;
	margin: 4px;
	text-decoration: none;
  }